<!--
File containing rendering macros

@author: Dominik Vágner
@email: xvagne10@stud.fit.vutbr.cz

@author: Ladislav Vašina
@email: xvasin11@stud.fit.vutbr.cz
-->

{% macro render_text_field(field, form_text="") %}
    {{ field.label(class_="form-label") }}
    {{ field(class_="form-control") }}
    {% if form_text != "" %}
        <div class="form-text">{{ form_text }}</div>
    {% endif %}

    <div id="{{ field.name }}-error" class="invalid-feedback"></div>
{% endmacro %}


{% macro render_specific_id_text_field(field, own_id, pure_id, own_val, form_text="") %}
    {{ field.label(class_="form-label") }}
    {{ field(class_="form-control", id=own_id, value=own_val) }}
    {% if form_text != "" %}
        <div class="form-text">{{ form_text }}</div>
    {% endif %}

    <div id="{{ field.name }}-error-{{ pure_id }}" class="invalid-feedback"></div>
{% endmacro %}


{% macro render_boolean_field(field) %}
    {{ field(class_="form-check-input") }}
    {{ field.label(class_="form-check-label ms-2") }}

    <div id="{{ field.name }}-error" class="invalid-feedback"></div>
{% endmacro %}


{% macro render_alert(message, type) %}
    <div class="alert alert-{{ warning }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endmacro %}
