<!--
File containing admin's dashboard view

@author: Ladislav Vašina
@email: xvasin11@stud.fit.vutbr.cz
-->

{% extends "layout.html" %}
{% from "macros/fields.html" import render_text_field, render_boolean_field, render_alert, render_specific_id_text_field %}

{% block title %} Admin dashboard {% endblock %}

{% block content %}

    <div class="container col-12">
        <br>
        <div class="d-flex justify-content-center align-items-center">
            <div class="mb-4" style="width: 75%">
                <label for="filterUsers"><h4>Type of users you want to be shown</h4></label>
                <select class="form-select mt-2" aria-label="User-role-filter" id="filterUsers">
                    <option value="0" selected>All users</option>
                    <option value="3">Managers</option>
                    <option value="2">Technicians</option>
                    <option value="1">Normal users</option>
                </select>
            </div>

        </div>
        {% for user in all_users %}
            {% if not user.id == current_user.id and user.deactivated != 1 %}
                <div class="d-flex justify-content-center align-items-center">
                    <div class="w-75 card text-black mb-4 bg-light {{ user.role[0] }} userId{{ user.id }}">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 ms-lg-4">
                                        <div class="text-black-75 small">Id</div>
                                        <div class="text-lg fw-bold">{{ user.id }}</div>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="text-black-75 small">Name</div>
                                        <div class="text-lg fw-bold name{{ user.id }}">{{ user.name }}</div>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="text-black-75 small">Surname</div>
                                        <div class="text-lg fw-bold surname{{ user.id }}">{{ user.surname }}</div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="text-black-75 small">Email</div>
                                        <div class="text-lg fw-bold email{{ user.id }}">{{ user.email }}</div>
                                    </div>
                                    <div class="col-lg-2 col-md-3">
                                        <div class="text-black-75 small">Role</div>
                                        <div class="text-lg fw-bold">{{ user.role[0] }}</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mt-3 pt-3 mt-lg-0">
                                        <button data-bs-toggle="modal" data-bs-target="#editUserModal{{ user.id }}"
                                                type="submit"
                                                class="btn btn-outline-primary" id="{{ user.id }}" style="width: 100%">
                                            Edit user
                                        </button>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mt-3 pt-3 mt-lg-0">
                                        <button type="submit" class="btn btn-outline-danger" id="{{ user.id }}"
                                                style="width: 100%">Delete user
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <!-- Edit User Modal -->
        {% for user in all_users %}
            {% if not user.id == current_user.id %}
                <div class="modal fade" id="editUserModal{{ user.id }}" tabindex="-1" aria-labelledby="logoutModalLabel"
                     aria-hidden="true"
                     style="z-index: 999999999;">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit user</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body py-0">
                                {% for form in forms_list %}
                                    {% if user.email == form.email.object_data %}
                                        <form id="form{{ user.id }}" class="mb-3 mt-md-4" method="POST">
                                            {# CSRF Token #}
                                            {{ form.csrf_token() }}
                                            <div id="csrf_token_error" class="text-danger"></div>
                                            {# Form fields #}
                                            <div class="mb-3 row">
                                                <div class="col">
                                                    {{ render_specific_id_text_field(form.name, "name" ~ user.id, user.id, form.name.object_data ) }}
                                                </div>
                                                <div class="col">
                                                    {{ render_specific_id_text_field(form.surname, "surname" ~ user.id, user.id, form.surname.object_data ) }}
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                {{ render_specific_id_text_field(form.email, "email" ~ user.id, user.id, form.email.object_data ) }}
                                            </div>
                                            <div class="mb-3">
                                                {{ render_specific_id_text_field(form.password, "password" ~ user.id, user.id ) }}
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input checkBox{{ user.id }}" type="checkbox"
                                                       value="" id="showPassCheckBox"
                                                       onclick="showPassword('{{ user.id }}')">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Show password
                                                </label>
                                            </div>
                                            <div class="d-grid mt-5">
                                                <button class="btn btn-outline-dark" type="submit" id="{{ user.id }}">
                                                    Update
                                                    User
                                                </button>
                                            </div>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                                <div id="alerts" class="mt-3"></div>
                                <div id="success-message" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>
        function showPassword(id) {
            let x = document.getElementById("password" + id);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }


        $(function () {
            $('#filterUsers').change(function () {
                if ($('#filterUsers').val() == '0') {
                    $('.manager').show();
                    $('.resident').show();
                    $('.technician').show();
                } else if ($('#filterUsers').val() == '1') {
                    $('.manager').hide();
                    $('.resident').show();
                    $('.technician').hide();
                } else if ($('#filterUsers').val() == '2') {
                    $('.manager').hide();
                    $('.resident').hide();
                    $('.technician').show();
                } else if ($('#filterUsers').val() == '3') {
                    $('.manager').show();
                    $('.resident').hide();
                    $('.technician').hide();
                }
            });
        });


        let elements = document.querySelectorAll('.btn-outline-danger');
        let elementsArray = Array.prototype.slice.call(elements);
        elementsArray.forEach(function (element) {
            // Get elements by IDs
            const successMessage = document.getElementById("success-message");
            const alerts = document.getElementById("alerts");
            const fields = {
                user_id: {
                    input: document.getElementById(element.id),
                    error: document.getElementById(element.id + '-error')
                },
            }

            // React to form submission
            element.addEventListener("click", async (e) => {
                e.preventDefault();
                // Make JSON out of the form input value
                let data = JSON.stringify({
                    user_id: fields.user_id.input.id,
                });
                const response = await fetch("{{ url_for("admin.admin_dashboard") }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: data,
                });
                for (let key in fields) {
                    if (fields[key].input.classList.contains("is-invalid")) {
                        fields[key].input.classList.remove("is-invalid");
                        fields[key].error.innerText = "";
                    }
                }
                if (response.ok) {
                    const api_response = await fetch("{{ url_for("api.auth_api.delete_user") }}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: data,
                    });

                    if (api_response.ok) {
                        let element_to_hide = "userId" + element.id;
                        $("." + element_to_hide).hide();
                    } else {
                        const message = await api_response.json();
                        alerts.innerHTML = bootstrap_alert_macro(message["message"], "danger")
                    }
                } else {
                    const errors = await response.json();
                    Object.keys(errors).forEach((key) => {
                        fields[key].input.classList.add("is-invalid");
                        fields[key].error.innerText = errors[key][0];
                    });
                }
            });
        });


        // Handling edit modals
        let editButtons = document.querySelectorAll('.btn-outline-primary');
        let editButtonsArray = Array.prototype.slice.call(editButtons);
        editButtonsArray.forEach(function (editButtons) {
                // Get form elements by IDs
                const form = document.getElementById("form" + editButtons.id);
                const successMessage = document.getElementById("success-message");
                const alerts = document.getElementById("alerts");
                const fields = {
                    csrf_token: {
                        input: document.getElementById('csrf_token'),
                        error: document.getElementById('csrf_token-error')
                    },
                    user_id: editButtons.id,
                    name: {
                        input: document.getElementById('name' + editButtons.id),
                        error: document.getElementById('name-error-' + editButtons.id)
                    },
                    surname: {
                        input: document.getElementById('surname' + editButtons.id),
                        error: document.getElementById('surname-error-' + editButtons.id)
                    },
                    email: {
                        input: document.getElementById('email' + editButtons.id),
                        error: document.getElementById('email-error-' + editButtons.id)
                    },
                    password: {
                        input: document.getElementById('password' + editButtons.id),
                        error: document.getElementById('password-error-' + editButtons.id)
                    },
                    confirm: {
                        input: document.getElementById('confirm' + editButtons.id),
                        error: document.getElementById('confirm-error-' + editButtons.id)
                    }
                }
                // React to form submission
                form.addEventListener("submit", async (e) => {
                        e.preventDefault();
                        // Make JSON out of the form input value
                        let data = JSON.stringify({
                            csrf_token: fields.csrf_token.input.value,
                            user_id: fields.user_id,
                            name: fields.name.input.value,
                            surname: fields.surname.input.value,
                            email: fields.email.input.value,
                            password: fields.password.input.value,
                        });

                        const response = await fetch("{{ url_for("admin.admin_dashboard") }}", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: data,
                        });

                        if (response.ok) {
                            const api_response = await fetch("{{ url_for("api.auth_api.edit_user") }}", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: data,
                            });

                            if (api_response.ok) {
                                let nameClassToEdit = "name" + fields.user_id;
                                let surnameClassToEdit = "surname" + fields.user_id;
                                let emailClassToEdit = "email" + fields.user_id;
                                $("." + nameClassToEdit).text(fields.name.input.value);
                                $("." + surnameClassToEdit).text(fields.surname.input.value);
                                $("." + emailClassToEdit).text(fields.email.input.value);
                                let modalToClose = "editUserModal" + fields.user_id;
                                $('#' + modalToClose).modal('toggle');
                            } else {
                                const message = await api_response.json();
                                alerts.innerHTML = bootstrap_alert_macro(message["message"], "danger")
                            }
                        }
                    }
                )
                ;
            }
        )
        ;

    </script>
{% endblock %}

