<!--
File containing 204 page

@author: Ladislav Vašina
@email: xvasin11@stud.fit.vutbr.cz
-->

{% extends "layout.html" %}

{% block title %} No content {% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <div>
            <h1><a href="https://http.cat/204" style="text-decoration: none;color:black;">204</a></h1>
            <p>No content here. </p>
            <a href="javascript:history.back()">GO BACK</a>
        </div>
    </div>
</div>
{% endblock %}